@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
input,select,textarea,textarea:focus,input:focus,button:focus,select:focus {
  outline: none;
}
h1,h2,h3,h4,h5,h6,p,span,ul,li,a,.table,textarea,label {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
ul,li {
  list-style: none;
}
a:hover,a:focus {
  text-decoration: none;
}
.container {
  max-width: 1170px;
}
/*Review Page CSS Start*/
.review-sec {
  background: url(../images/reviews-banner.jpg) no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-banner-text h4 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.sec-pad {
    padding: 50px 0;
}
.txt-review-container > ul > li {
    margin: 25px 0;
}
.noguttar-right {
    padding-right: 0px;
}
.txt-rev-img img {
    border-radius: 150px;
    border: 1px solid #ccc;
    width: 81px;
    height: 81px;
}
.testi-txt-box {
    background: #333;
    padding: 20px 20px 20px 60px;
    position: relative;
    transition: all 0.4s ease;
}
.quote-icon {
  position: absolute;
  left: 26px;
  top: 17px;
  color: #ffffff;
  font-size: 20px;
}
.testi-txt-box:hover {
    transform: scale(1.03);
}
.testi-txt-box:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #920002;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 26px;
    left: -10px;
    content: "";
}
.testi-txt-box p {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5em;
}
.testi-star i {
    font-size: 14px;
    color: #f7a61f;
}
.txt-rev-name {
    text-align: right;
    color: #ff727c;
    line-height: 1.2em;
    font-size: 14px;
}
/*End*/


header {
    background: #191919;
    padding: 15px 0;
}
.head-left-box {
    width: 400px;
}
.dashboard-head-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 400px);
    padding-right: 20px;
}
.head-right-box ul {
    display: flex;
    align-items: center;
}
.head-right-box ul li {
    margin: 0 12px;
}
.user-dropdown-wrap {
    position: absolute;
    top: 30px;
    right: -30px;
    z-index: 2;
    border: 1px solid #ddd;
    border-radius: .25rem;
    background: #fff;
    width: 380px;
    transition: all 0.5s ease-in-out;
    /*opacity: 0;*/
    display: none;
    max-height: 450px;
    overflow: auto;
    border-radius: 5px;
}
.user-dropdown {
    transition: all 0.5s ease-in-out;
}
.user-dropdown:hover .user-dropdown-wrap {
    transform: scale(0.7);
    display: block;
    /*opacity: 1;*/
}
.user-btns {
    display: block;
    background: #191919;
    padding: 15px 15px;
}
.user-btns .user-btn {
    font-weight: 700;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;
    color: #191919;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.user-btns .user-btn:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 500;
}
.notification-dropdown-wrap {
    position: absolute;
    top: 15px;
    right: 150px;
    z-index: 2;
    border: 1px solid #ddd;
    border-radius: .05rem;
    background: #fff;
    width: 380px;
    transition: all 0.5s;
    /*opacity: 0;*/
    display: none;
    max-height: 450px;
    overflow: auto;
    border-radius: 5px;
}
.notification-item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.notification-item-image {
    width: calc(100% - 80%);
}
.notification-item-text {
    width: calc(100% - 25%);
    padding-left: 10px;
}
.notification-item-text p {
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
}
.notification-dropdown:hover .notification-dropdown-wrap {
    transform: scale(0.7);
    display: block;
}
.notification-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #191919;
    padding: 15px 0px;
}
.notification-btns .notification-btn {
    font-weight: 700;
    font-size: 16px;
}
.notification-btns .notification-btn:hover {
    color: #fff;
}
.head-image {
    margin-right: 0 !important;
    position: relative;
}
.head-image:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #60c54b;
}
.head-image img {
    max-width: 60px;
}
.head-right-box ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
input[type=search]:focus {
  outline: 0;
}
input[type=search]:focus {
  background: url(../images/search-icon2.png) no-repeat 9px center;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: url(../images/search-icon.png) no-repeat 9px center;
    border: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 15px;
    padding: 9px 10px;
    color: transparent;
    cursor: pointer;
  }
  input[type=search]:focus {
    width: 300px;
    padding-left: 50px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    border-radius: 10em;
    border-bottom: solid 1px transparent;
  }
  input:-moz-placeholder {
    color: #191919;
  }
  input::-webkit-input-placeholder {
    color: #191919;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    input[type=search] {
      padding: 20px 20px;
    }
  }

.dashboard-sec .row {
    margin-right: 0;
}
aside {
    background: #191919;
    width: 100%;
    max-width: 400px;
    text-align: center;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 35px;
}
.side-logo {
    margin-bottom: 70px;
}
.side-logo img {
    max-width: 210px !important;
}
.user-profile {
  display: flex;
  align-items: center;
  padding: 0px 0 0 50px;
}
.profile-image {
  position: relative;
}
.profile-image img {
    border-radius: 100%;
    max-width: 100px;
    height: 100px;
}
.profile-image:after {
  content: '';
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #60c54b;
}
.user-name p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: left;
  padding: 0 0 0 15px;
  line-height: 1.2;
}
.user-name p strong {
  font-weight: 600;
}
.dashboard-links {
    padding-top: 100px;
}
.dashboard-links .nav .nav-link {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    display: block;
    text-align: left;
    padding: 10px 50px 10px;
    margin-bottom: 10px;
    border-radius: 0;
}
.dashboard-links .nav .nav-link i {
    margin-right: 10px;
}
.dashboard-links .nav .nav-link.active {
  color: #000;
  background: #fff;
}
.right-box-wrap {
    width: calc(100% - 400px);
    background: #fff;
    padding: 70px 0 0 35px;
    margin: 0 0 0 390px;
}
.black-head {
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    margin-bottom: 30px;
}
.user-info-box {
    max-width: 885px;
    width: 100%;
    border-radius: 10px;
    background: #e8edf2;
    padding: 25px 50px 30px;
    margin-bottom: 30px;
}
/*Avtar CSS Start*/
.avatar-upload {
    position: relative;
    max-width: 125px;
    margin: 0 0 25px 0;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #23bcf5;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #191919;
    border-color: #191919;
}
.avatar-upload .avatar-edit input + label:after {
  content: "";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.avatar-upload .avatar-preview {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*End*/



.info-box {
    border-radius: 10px;
    background: #fff;
    padding: 10px 20px 15px;
}
.user-detail-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding: 15px 10px;
    margin-bottom: 15px;
}
.details label {
    font-size: 14px;
    font-weight: 500;
    color: #cccccc;
    text-transform: uppercase;
}
.details p {
    font-size: 16px;
    font-weight: 600;
    color: #191919;
}
.edit-btn a {
    background: #111111;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 35px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.edit-btn a:hover {
    color: #191919;
    background: transparent;
    border: 1px solid #191919;
    font-weight: 500;
}
.change-pass-wrap {
    max-width: 885px;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 25px 0;
}
.pass-btn-box {
    margin: 25px 0;
}
.black-btn {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid #191919;
    transition: all 0.3s ease-in-out;
}
.black-btn:hover {
    color: #191919;
    background: transparent;
    font-weight: 500;
}
.change-pass-wrap p {
    font-size: 14px;
    font-weight: 500;
    color: #111111;
    max-width: 510px;
    line-height: 1.8;
}
/*My Orders CSS Start*/
.order-detail-box {
    width: 96%;
    overflow: hidden;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    padding: 15px 0;
}
.dataTables_wrapper .dataTables_filter {
  display: none;
}
thead.thead-dark {
    background: #191919;
}
thead.thead-dark th {
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fff !important;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #fff !important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
table.dataTable.no-footer {
    border-bottom: none;
    border-radius: 10px;
    border: 1px solid #cccccc;
    overflow: hidden;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    display: none;
}


.order-detail-box .table .thead-dark th {
    color: #fff;
    background-color: #191919;
    border-color: #191919;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.order-detail-box .table tbody th, td {
    font-weight: 400;
    font-size: 16px;
    color: #191919;
    text-align: center;
}
.green-color {
  color: #26b53d !important;
}
.yellow-color {
  color: #fb9b1c !important;
}
/*Billing CSS Start*/
.payment-box {
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-text p {
    color: #191919;
    margin-bottom: 5px;
}
.payment-text label {
    font-size: 14px;
    font-weight: 500;
    color: #cccccc;
}
.transaction-history-box {
    padding: 25px 0;
}
.alert-box {
    max-width: 850px;
    width: 100%;
    background: #cccccc;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    margin-top: 15px;
}
/*Modal CSS Start*/
.payment-popup .modal-content {
  background: #191919;
  border-radius: 10px;
}
.popup-head {
    padding: 10px 0 15px;
    border-bottom: 1px solid #8c8c8c;
    position: relative;
}
.close-btn {
  position: absolute;;
  top: -5px;
  right: 0;
  opacity: 1;
}
.close-btn span {
  color: #fff !important;
  opacity: 1;
  text-shadow: none;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}
.popup-head h6 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.popup-head p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.popup-head p span {
  color: #888888;
}
.payment-types {
    padding: 15px 0 0;
}
.payment-types p {
    color: #888888;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.payment-type {
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    background: #fff;
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
.payment-type:hover {
  color: #191919;
}
.payment-type img {
    margin-right: 10px;
}
/*End*/

/*Creadit Card Modal CSS Start*/
.credit-card-info {
    padding: 20px 0;
}
.card-input {
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #191919;
}
.card-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #191919;
    text-transform: uppercase;
}
/*End*/